body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤 방지 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
